<% include partials/header %>

<section class="hero hero-header">
   <div class="hero-body">
      <div class="container has-text-centered">
         <p class="title is-size-2 is-size-3-mobile">
            Do you like faking it?
         </p>
         <p class="title is-size-2 is-size-3-mobile">
            Is fake news your thing?
         </p>
         <p class="title is-size-2 is-size-3-mobile">
            Did you vote Trump?
         </p>
         <p class="title is-size-2 is-size-3-mobile">
            If you answered three times yes, then FakeStore is just what you need!
         </p>
      </div>
   </div>
</section>

<section class="category-menu has-background-grey-light">
   <div class="dropdown">
      <div class="dropdown-trigger">
         <button class="button is-text has-background-grey-light" aria-haspopup="true" aria-controls="category-menu">
            <span>Categories</span><span class="icon is-small">
               <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
         </button>
      </div>
      <div class="dropdown-menu" id="category-menu" role="menu">
         <ul class="categories dropdown-content">
            <li class="is-hidden-mobile dropdown-item">
               <a href="#electronics">Fake Electornics</a>
            </li>
            <li class="is-hidden-mobile dropdown-item">
               <a href="#food">Fake Food</a>
            </li>
            <li class="is-hidden-mobile dropdown-item">
               <a href="#furniture">Fake Furniture</a>
            </li>
         </ul>
      </div>
   </div>
   <div class="search-container">
      <p class="control has-icons-right">
         <input disabled type="text" class="input" name="search" placeholder="Search Products">
         <span class="icon is-small is-right">
            <i class="fas fa-search"></i>
         </span>
      </p>
   </div>
</section>

<section class="section">
   <div class="container">
      <% for (let i = 0; i < products.length; i++) {%>
      <div class="tile is-ancestor">
         <div class="tile is-4 is-vertical is-parent">
            <div class="product tile is-child box has-background-info">
               <a href="/products/<%= products[i]._id %>">
                  <figure class="image">
                     <img src="<%= products[i].img %>">
                  </figure>
               </a>
               <p class="title has-text-centered">
                  <a href="/products/<%= products[i]._id %>"><%= products[i].name %></a>
               </p>
               <br />
               <div class="level">
                  <div class="level-left">
                     <div class="level-item">
                        <p class="is-size-5-touch is-size-3 has-text-primary has-text-weight-bold">
                           <%= products[i].price %> $
                        </p>
                     </div>
                  </div>
                  <div class="level-right">
                     <div class="level-item">
                        <button class="button is-primary add-to-cart" data-price="<%= products[i].price %>" data-name="<%= products[i].name %>"
                           data-id="<%= products[i]._id %>">
                           <span>Add to Cart</span>
                           <span class="icon is-small">
                              <i class="fas fa-cart-arrow-down"></i>
                           </span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="product tile is-child box has-background-info">
               <% if(i !== products.length -1) i++ %>
               <a href="/products/<%= products[i]._id %>">
                  <figure class="image">
                     <img src="<%= products[i].img %>">
                  </figure>
               </a>
               <p class="title has-text-centered">
                  <a href="/products/<%= products[i]._id %>"><%= products[i].name %></a>
               </p>
               <br />
               <div class="level">
                  <div class="level-left">
                     <div class="level-item">
                        <p class="is-size-5-touch is-size-3 has-text-primary has-text-weight-bold">
                           <%= products[i].price %> $
                        </p>
                     </div>
                  </div>
                  <div class="level-right">
                     <div class="level-item">
                        <button class="button is-primary add-to-cart" data-price="<%= products[i].price %>" data-name="<%= products[i].name %>"
                           data-id="<%= products[i]._id %>">
                           <span>Add to Cart</span>
                           <span class="icon is-small">
                              <i class="fas fa-cart-arrow-down"></i>
                           </span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tile is-parent">
            <div class="product tile is-child box has-background-info">
               <% if(i !== products.length -1) i++ %>
               <a href="/products/<%= products[i]._id %>">
                  <figure class="image">
                     <img src="<%= products[i].img %>">
                  </figure>
               </a>
               <p class="title has-text-centered">
                  <a href="/products/<%= products[i]._id %>"><%= products[i].name %></a>
               </p>
               <p class="is-hidden-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam
                  at erat pulvinar, at
                  pulvinar
                  felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus,
                  leo
                  sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
               <br />
               <div class="level">
                  <div class="level-left">
                     <div class="level-item">
                        <p class="is-size-5-touch is-size-3 has-text-primary has-text-weight-bold">
                           <%= products[i].price %> $
                        </p>
                     </div>
                  </div>
                  <div class="level-right">
                     <div class="level-item">
                        <button class="button is-primary add-to-cart" data-price="<%= products[i].price %>" data-name="<%= products[i].name %>"
                           data-id="<%= products[i]._id %>">
                           <span>Add to Cart</span>
                           <span class="icon is-small">
                              <i class="fas fa-cart-arrow-down"></i>
                           </span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div> <!-- is-ancestor -->

      <div class="product box is-12 has-background-info">
         <% if(i !== products.length -1) i++ %>
         <div class="columns">
            <div class="column is-6">
               <a href="/products/<%= products[i]._id %>">
                  <figure class="image">
                     <img src="<%= products[i].img %>">
                  </figure>
               </a>
            </div>
            <div class="column is-6">
               <p class="title has-text-centered">
                  <a href="/products/<%= products[i]._id %>"><%= products[i].name %></a>
               </p>
               <p class="is-hidden-mobile">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro error nesciunt debitis? Dolorem,
                  iure voluptatum expedita non ipsum sint in dolor, omnis soluta facilis maxime libero commodi
                  necessitatibus assumenda quas.
               </p>
               <p class="is-hidden-mobile">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro error nesciunt debitis? Dolorem,
                  iure voluptatum expedita non ipsum sint in dolor, omnis soluta facilis maxime libero commodi
                  necessitatibus assumenda quas.
               </p>
               <div class="level">
                  <div class="level-left">
                     <div class="level-item">
                        <p class="is-size-5-touch is-size-3 has-text-primary has-text-weight-bold">
                           <%= products[i].price %> $
                        </p>
                     </div>
                  </div>
                  <div class="level-right">
                     <div class="level-item">
                        <button class="button is-primary add-to-cart" data-price="<%= products[i].price %>" data-name="<%= products[i].name %>"
                           data-id="<%= products[i]._id %>">
                           <span>Add to Cart</span>
                           <span class="icon is-small">
                              <i class="fas fa-cart-arrow-down"></i>
                           </span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% } %>
   </div> <!-- container -->
</section>

<% include partials/footer %>