<% include partials/header %>

<section class="hero hero-header">
   <div class="hero-body">
      <div class="container has-text-centered">
         <p class="title">
            Do you like faking it?
         </p>
         <p class="title">
            Is fake news your thing?
         </p>
         <p class="title">
            Did you vote Trump?
         </p>
         <p class="title">
            If you answered three times yes, then FakeStore is just what you need!
         </p>
      </div>
   </div>
</section>

<!-- Search -->
<section class="search-container">
   <form action="">
      <label for="search">Find Product</label>
      <input type="text" name="search" class="input" id="search-field">
   </form>
   <section id="results">
   </section>
</section>

<section class="section">
   <div class="columns is-multiline">
      <% products.forEach( product => { %>
      <div class="column">
         <a href="/products/<%= product._id %>">
            <figure class="image is-128x128">
               <img src="<%= product.img %>">
            </figure>
            <p class="title has-text-centered">
               <%= product.name %>
            </p>
         </a>
         <p>
            <%= product.price %> $
         </p>
         <div class="has-text-centered">
            <button class="button is-primary add-to-cart" data-id="<%= product._id %>">
               <span>Add to Cart</span>
               <span class="icon is-small">
                  <i class="fas fa-cart-arrow-down"></i>
               </span>
            </button>
         </div>
      </div>
      <% }) %>
   </div>
</section>


<% include partials/footer %>